<div class="map">
  <img alt="Map image at coordinates {{@lat}},{{@lng}}"
  {{!-- can use ...attr to pass in class, override default alt tag etc. --}}
  {{!-- this is order-sensitive, so src/width/height are assigned afterwards, ensuring it cannot be accidentally overwritten by invoker --}}
    ...attributes
    src={{this.src}}
    width={{@width}}
    height={{@height}}
  >
</div>